[submodule "projects/Accounting-Prototype"]
	path = projects/Accounting-Prototype
	url = https://gitlab.com/next-top-tech/accounting/accounting-prototype.git
[submodule "projects/Accounting-Project"]
	path = projects/Accounting-Project
	url = https://gitlab.com/next-top-tech/accounting/accounting-project.git
[submodule "projects/Accounting-Frontend"]
	path = projects/Accounting-Frontend
	url = https://gitlab.com/next-top-tech/accounting/accounting-frontend
[submodule "projects/accounting-sso"]
	path = projects/accounting-sso
	url = https://gitlab.com/next-top-tech/accounting/accounting-sso
[submodule "projects/accounting-notification"]
	path = projects/accounting-notification
	url = https://gitlab.com/next-top-tech/accounting/accounting-notification
